body {
    font-family: Arial;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background: #ff9800;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e68900;
}

#fraudSection {
    margin-top: 20px;
    color: red;
}
