<!DOCTYPE html>
<html>
<head>
    <title>Smart Financial System</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="container">
    <h1>Smart Financial Insights & Fraud Detection</h1>

    <input type="file" id="fileInput">
    <button onclick="uploadFile()">Upload Statement</button>

    <div id="summary"></div>

    <canvas id="expenseChart"></canvas>

    <div id="fraudSection"></div>
</div>

<script src="/static/js/script.js"></script>
</body>
</html>
